# Ambientes virtuais
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
*.egg-info/
.coverage
htmlcov/

# SO / editores
.DS_Store
Thumbs.db
desktop.ini
*.swp
*~

# Ferramentas locais
*.log
tmp/
temp/
